.person{
    width: 30%;
    background-color: rgb(100, 162, 172);
    padding: 10px;
    margin: 5px auto;
    border: 2px solid black;
    border-radius:  15px;
    text-align: center;
}
.button{
    margin: 5px 50%;
    
}
.welcome{
    width: 30%;
    background-color: rgb(100, 162, 172);
    padding: 10px;
    margin: 5px auto;
    border: 2px solid black;
    border-radius:  15px;
    text-align: center;

}